{% extends "base.html.twig" %}

{% block head %}
    <title>Admin Page</title>
{% endblock %}

{% block content %}
    <section id="admin-page">
        <div class="container">
            <button type="submit" class="btn btn-primary" id="contact-button">
                <a href="/addArticles">Ajouter un article</a>
            </button>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Manage Articles</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Profile</button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contact</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
            {% for article in articles %}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ article.title }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ article.leadParagraph }}</h6>
                        <p class="card-text">{{ article.content | u.truncate(100, '...', false)}}</p>
                        <a href={{ "/articles/"~article.id~"/show" }}>Voir la suite</a>
                    </div>
                    <div class="card-footer"><small class="text-muted">{{ article.lastUpdate | date("d/m/Y H:i") }}</small></div>
                </div>
            {% endfor %}
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    Ad pariatur nostrud pariatur exercitation ipsum ipsum culpa mollit commodo mollit ex. 
                    Aute sunt incididunt amet commodo est sint nisi deserunt pariatur do.
                    Aliquip ex eiusmod voluptate exercitation cillum id incididunt elit sunt.
                    Qui minim sit magna Lorem id et dolore velit Lorem amet exercitation duis deserunt. 
                    Anim id labore elit adipisicing ut in id occaecat pariatur ut ullamco ea tempor duis.
                </div>
                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                    Est quis nulla laborum officia ad nisi ex nostrud culpa Lorem excepteur aliquip dolor aliqua irure ex.
                    Nulla ut duis ipsum nisi elit fugiat commodo sunt reprehenderit laborum veniam eu veniam.
                    Eiusmod minim exercitation fugiat irure ex labore incididunt do fugiat commodo aliquip sit id deserunt reprehenderit aliquip nostrud.
                    Amet ex cupidatat excepteur aute veniam incididunt mollit cupidatat esse irure officia elit do ipsum ullamco Lorem.
                </div>
            </div>
        </div>
    </section>
{% endblock %}