{% extends "base.html.twig" %}

{% import "form.html.twig" as form %}

{% block head %}
    <title>Blog Professionnel - Inscription</title>
{% endblock %}

{% block content %}
    <div id="base-form-page">
        <header>
            <div class="container">
                <h1>Inscription</h1>
            </div>
        </header>
        <section>
            <div id="register-structure">   
                <form class="container" method="post">
                    <input type="hidden" name="_crsf_token" id="_csrf_token" value={{ session.token }} />

                    {{ form.input('pseudo', 'Pseudo', pseudo) }}
                    {{ form.input('name', 'Nom', name) }}
                    {{ form.input('firstname', 'Prénom', firstname) }}
                    {{ form.input('email', 'E-mail', email, {type: 'email'}) }}
                    {{ form.inputPassword('password', 'Mot de passe', password) }}

                    <div class="row" id="base-form-button-row">
                        <button type="submit" class="btn btn-primary" id="base-form-button">S'inscrire</button>
                    </div>
                </form>
            </div>
        </section>
    </div>
{% endblock %}