{% extends 'base.html.twig' %}

{% block head %}
    <title>Blog Professionnel - {{ article.title }}</title>
{% endblock %}

{% block content %}
    <section>
        <div class="container">
        {% if errors %}
            <div>{{ errors }}</div>
        {% endif %}
            <div class="row">
                <div class="col-12">
                    <div class="card">
                    <img src="/img/php_img.png" class="card-img-top" alt="Php-image">
                        <div class="card-body">
                            <h2 class="card-title">{{ article.title }}</h2>
                            <h5 class="card-subtitle mb-2 text-muted">{{ article.lead_paragraph }}</h5>
                            <p class="card-text">{{ article.content }}</p>
                        </div>
                        <div class="card-footer"><small class="text-muted">{{ article.lastUpdate | date("d/m/Y H:i") }}</small></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <h3>Commentaires</h3>
            </div>
            <div class="row">
                {% for comment in comments %}
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <p class="card-title">{{ comment.user_pseudo }}</p>
                            <p class="card-text">{{ comment.comment_content }}</p>
                            {% if session.user %}
                                <div class="row">
                                    <div class="col">
                                        <a href={{ "/comments/"~comment.comment_id~"/edit" }} class="btn btn-primary">Editer</a>
                                        <a href={{ "/comments/"~comment.comment_id~"/delete"}} class="btn btn-danger" type="submit">Supprimer</a>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="card-footer"><small class="text-muted">{{ comment.comment_date | date("d/m/Y H:i")}}</small></div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <form method='POST'>
                <div class="card">
                    <h3 class="card-header">Entrer votre commentaire</h3>
                    <div class="card-body">
                        <textarea type="text" class="card-text form-control" rows="4" id="content" name="content"></textarea>
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Ajouter le commentaire</button>
            </form>
            

        </div>
    </section>
{% endblock %}
