{% macro inputName(name, label) %}
    <div class="form-group">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <input type="text" class="form-control" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro inputFirstName(name, label) %}
    <div class="form-group">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <input type="text" class="form-control" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro inputMail(name, label) %}
    <div class="form-group">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <input type="email" class="form-control" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro inputPassword(name, label) %}
    <div class="form-group">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <input type="password" class="form-control" id="{{ name }}" name="{{ name }}">
    </div>
{% endmacro %}

{% macro textarea(name, label) %}
    <div class="form-group">
        <label for="{{ name }}" class="form-label">{{ label }}</label>
        <textarea type="text" class="form-control" id="{{ name }}" name="{{ name }}"></textarea>
    </div>
{% endmacro %}